<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils </title>
</head>
<body>
<!--{{ name }} is from {{ place }}-->
<h1>welcome to the text analayzer. Enter your text below</h1>
<form action='/analyzed2' method='get'>
    <textarea name="text" style='margin: 0px; width: 721px; height: 93px;'></textarea>
   <br>

    <input type="checkbox" name="removepunc"> Remove Punctuation<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Space remover<br>
    <input type="checkbox" name="charcount"> character count <br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>